<!DOCTYPE html>
<html>
<head>
	<title>{{ site.title }} &mdash; {{ page.title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ site.url }}/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ site.url }}/css/style.css" rel="stylesheet" type="text/css">
	<link rel="shortcut icon" type="image/x-icon" href="{{ site.url }}/images/favicon.ico">
</head>
<body>
	<div class="container">
		<nav class="nav nav-pills main-nav">
			<li>
				<a href="{{ site.url }}/" class="home" title="Home">
					<img class="logo" src="{{ site.url }}/images/logo.png" alt="WIKIBASE">
				</a>
			</li>
            <li {% if page.nav_name == 'applications' %}class="active"{% endif %}>
                <a href="{{ site.url }}/applications">Applications</a>
            </li>
            <li {% if page.nav_name == 'components' %}class="active"{% endif %}>
                <a href="{{ site.url }}/components">Components</a>
            </li>
            <li {% if page.nav_name == 'resources' %}class="active"{% endif %}>
                <a href="{{ site.url }}/resources">Resources</a>
            </li>
		</nav>
	</div>
	{% if page.nav_name == 'home' %}
		<div class="jumbotron banner">
			<div class="container">
				<picture class="logo">	
					<img src="{{ site.url }}/images/logo.png" alt="WIKIBASE">
				</picture>
				<div class="banner-text">
					Welcome to the <strong>Wikibase</strong> project
					<p class="sub">
                        Wikibase is a collection of applications and libraries for creating, managing and sharing structured data.
                        It is an open source project and everyone is welcome to join in development.
					</p>
				</div>
			</div>
		</div>
	{% else %}
		<hr class="nav-divide">
	{% endif %}
	<div class="container">
		{% block content %}{% endblock %}
	</div>
</body>
</html>
