<!DOCTYPE html>
<html>
<head>
	<title>{{ site.title }} &mdash; {{ page.title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="{{ site.url }}/components/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="{{ site.url }}/css/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div class="container">
		<nav class="nav nav-pills main-nav">
			<li>
				<a href="{{ site.url }}/" class="home">
					<img class="logo" src="{{ site.url }}/images/logo.png">
				</a>
			</li>
            <li {% if page.nav_name == 'applications' %}class="active"{% endif %}>
                <a href="{{ site.url }}/applications">Applications</a>
            <li {% if page.nav_name == 'components' %}class="active"{% endif %}>
                <a href="{{ site.url }}/components">Components</a>
            </li>
		</nav>
	</div>
	{% if page.nav_name == 'home' %}
		<div class="jumbotron banner">
			<div class="container">
				<picture class="logo">	
					<img src="{{ site.url }}/images/logo.png">
				</picture>
				<div class="banner-text">
					Welcome to the <strong>Wikibase</strong> project
					<p class="sub">
                        Wikibase is a collection of applications and libraries for creating, managing and sharing structured data.
                        It is an open source project, and everyone is welcome to join in development.
					</p>
				</div>
			</div>
		</div>
	{% else %}
		<hr class="nav-divide">
	{% endif %}
	<div class="container">
		{% block content %}{% endblock %}
	</div>

	<a href="https://github.com/wmde/Wikiba.se"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
</body>
</html>
