h1, h2 {
	color: #196999;
	font-size: 30px;
}

.main-nav {
	padding: 5px 0;
}
.main-nav a.home {
	padding: 0;
	margin-right: 20px;
}
.main-nav .home .logo {
	height: 40px;
}
.nav-divide {
	margin: 0;
	border-top: 5px solid #004166;
}

.banner {
	background: #196999;
	color: #fff;
	padding: 30px 0;
	margin-bottom: 0;
	border: 5px solid #004166;
	border-left: 0;
	border-right: 0;
}
.banner .logo {
	float: left;
	padding: 5px;
	background: #fff;
	border-radius: 20px;
	margin: 15px 25px 0 0;
}
.banner .logo img {
	height: 100px;
}
.banner-text {
	font-size: 25px;
}
.banner-text .wikidata {
	color: #fff;
	text-decoration: underline;
	font-weight: bold;
}
.banner-text .sub {
	font-size: 18px;
	list-style-position: inside;
}

.components .library {
	width: 15%;
}
.components .source {
	width: 10%;
}
.components .status {
	width: 30%;
}

.powered-by {
	margin-top: 10px;
	padding-bottom: 20px;
}
.powered-by h3 {
	font-size: 18px;
	font-style: italic;
}
.powered-by .project {
	text-align: center;
}
.powered-by .project img {
	height: 80px;
	margin: 10px;
}

.project-list .project-image {
	max-height: 100px;
	max-width: 100px;
}
.project-list .row {
	margin-top: 20px;
}
.project-list .row div {
	padding-left: 0;
}
.project-list .project-headline {
	margin-top: 5px;
}

.features {
	margin-top: 10px;
	padding: 0;
}
.features .feature {
	font-size: 18px;
	border-radius: 10px;
	padding: 10px 10px 10px 0;
}
.features .feature .feature-icon {
	float: left;
	width: 20px;
	height: 50px;
	margin: 5px 10px;
	color: #000;
}
.features .feature .feature-text {
	width: 100%;
	color: #333;
}

.get-wikibase .btn {
	background-color: #fff;
	color: #004166;
}
